// Kleuren
$primary: #f2f2e8;
$accent: #015ea2;

$groen: #27ae60;
$donkergroen: rgb(75, 101, 75);
$wit: #fff;
$grijs: #3d3d3d;
$lichtgrijs: #f4f5f4;
$blauw: #5e6d8a;
$bruin: #72583c;
$rood: #731e1c;
$zwart: #000;
$oranje: rgb(255, 154, 0); //??
$error: #ffbaba;

$creatief: #219ad1;
$sport: #83aa30;
$cultuur: #e74700;
$varia: #3d3d3d;
$vorming: #4d6684;

// $attractie: #83aa30;
// $sport: #219ad1;
// $cultuur: #4d6684;
// $muziek: #3d3d3d;
// $varia: #e74700;

// Lengtes


// Tijd


// Z-index

